altgraph==0.17.4
bottle==0.13.4
capstone==5.0.9
cffi==2.0.0
clr_loader==0.3.1
colorclass==2.2.2
cryptography==49.0.0
easygui==0.98.3
imageio-ffmpeg==0.5.1
importlib_metadata==7.0.2
json5==0.15.0
MaaAgentBinary==1.0.1
MaaFw==5.11.1
msoffcrypto-tool==6.0.0
numpy==1.24.4
olefile==0.47
oletools==0.60.2
opencv-python==4.9.0.80
packaging==24.0
pcodedmp==1.2.6
pefile==2023.2.7
pillow==10.2.0
proxy_tools==0.1.0
pycparser==3.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pynput==1.7.6
pyparsing==3.3.2
pystray==0.19.4
pytesseract==0.3.10
pythonnet==3.1.0
pywebview==6.2.1
pywin32==306
pywin32-ctypes==0.2.2
six==1.17.0
StrEnum==0.4.15
ttkbootstrap==1.10.1
typing_extensions==4.15.0
win_unicode_console==0.5
zipp==3.18.1
